@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/Gotham Cyrillic/GothaProReg.otf');
}

body, h1, ul {
    font-family: 'GothamPro', FallBack, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 1280px;
}

.display {
    display: none;
}

.flex {
    flex: 1;
}

.active {
    color: #0093dd;
}

.upper {
    text-transform: uppercase;
}

.red {
    color: #e3271e;
}

.icon-s {
    font-size: 1.4rem;
    padding: 0 0.5rem;
}

.line {
    height: 1px;
    background-color: #DCDEE3;
    width: 6rem;
}

.line-l {
    height: 1px;
    background-color: #DCDEE3;
    width: 100%;
}

.justify-content {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.basics-questions {
    max-width: 35%;
    padding: 0 1rem;
}

.question-item {
    border: 1px solid #DCDEE3;
    margin: 0.5rem 0;
}

.question-answer {
    line-height: 1.1;
    padding: 2rem;
    background: #f0f4f6;
    font-weight: 100;
}

.basics-title {
    font-size: 4rem;
    font-weight: 300;
}

.basics-subtitle {
    font-size: 1.2rem;
}

.grey {
    color: #a1a1a1;
}

.question-icon {
    font-size: 1.4rem;
    color: #DFE1E7;
}

.black {
    color: black;
}

.basics-text {
    color: #4D4D4D;
    font-size: 0.95rem;
}

.bold {
    font-weight: 700;
}

.question-header {
    padding: 0.5rem 2rem;
    font-weight: 700;
    cursor: pointer;
}

.question-header:hover {
    color: #0093dd;
}

.question-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.text-result {
    padding: 2rem 3rem;
    font-size: 1.65rem;
    color: #0093DD;
    font-weight: 700;
}

.inner-text {
    padding: 1rem;
    background: url('../images/quotes.png') no-repeat left top;
}

.strategy {
    margin: 4rem 0 0 0;
    background: #f0f4f6;
}

.strategy-img {
    width: 100%;
}

.strategy-container {
    background: url('../images/sem-bg.png') no-repeat center left;
    justify-content: flex-end;
}

.strategy-points {
    display: flex;
}

.strategy-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 0;
}

.strategy-text {
    font-weight: 700;
    line-height: 1.4;
}

.strategy-point {
    width: 100%;
    background-color: #e4322b;
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
    color: white;
}

.strategy-point-content {
    color: #3F3F3F;
}

.strategy-content {
    max-width: 38rem;
    padding: 5rem 0;
}

.advantages {
    margin: 4rem 0 0 0;
}

.center-title {
    text-align: center;
    font-weight: 500;
    font-size: 2.8rem;
}

.img-svg {
    height: 100px;
    width: 100px;
}

.advantages-menu {
    margin-top: 4rem;
    display: flex;
}

.advantages-item {
    margin: 0.5rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DCDEE3;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage-paragraphs {
    margin-top: 1.5rem;
}

.advantages-paragraph {
    color: #4C4F56;
    padding: 0.5rem 0;
    display: flex;
    font-size: 0.9rem;
}

.differences {
    margin-top: 4rem;
}

.differences-container {
    display: flex;
}

.differences-title {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 5rem 0 0;
    max-width: 22rem;
    line-height: 1.3;
}

.differences-paragraph {
    color: #4C4F56;
    font-size: 0.95rem;
}

.differences-button {
    padding: 0.75rem 1.75rem;
    background: #84d40a;
    border: none;
    border-radius: 5%;
    font-weight: 700;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.differences-button:hover {
    background: #B7FF3D;
}

.differences {
    margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
    .differences-button {
        margin: 2rem 0 0 5rem;
    }
}

@media screen and (max-width: 1365px) {
    .advantages-menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages-item {
        width: 100%;
    }
}

@media screen and (max-width: 1210px) {
    .strategy-content {
        color: white;
    }
    .strategy-point-content {
        color: white;
        font-weight: 700;
    }
    .strategy {
        background: #333;
    }
}

@media screen and (max-width: 1148px) {
    .basics-container {
        flex-direction: column;
    }
    .basics-questions {
        max-width: 100%;
    }
    .strategy-container {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .differences-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 530px) {
    .strategy-points {
        flex-direction: column;
    }
    .basics-questions {
        padding: 0;
    }
    .question-header {
        padding: 0.5rem;
    }
    .question-answer {
        padding: 0.5rem;
    }
    .container {
        padding: 0 5%;
    }
    .text-result, .inner-text {
        padding: 0;
    }
}