@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/Gotham Cyrillic/GothaProReg.otf');
}

body, h1, ul, button, input {
    font-family: 'GothamPro', FallBack, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 1280px;
}

.display {
    display: none;
}

.flex {
    flex: 1;
}

.active {
    color: #0093dd;
}

.upper {
    text-transform: uppercase;
}

.red {
    color: #e3271e;
}

.icon-s {
    font-size: 1.4rem;
    padding: 0 0.5rem;
}

.line {
    height: 1px;
    background-color: #DCDEE3;
    width: 100%;
}

.line-l {
    height: 1px;
    background-color: #DCDEE3;
    width: 100%;
}

.justify-content {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.basics-questions {
    max-width: 35%;
    margin: 0 1rem;
}

.question-item {
    border: 1px solid #DCDEE3;
    margin: 0.5rem 0;
}

.question-answer {
    line-height: 1.1;
    padding: 2rem;
    background: #f0f4f6;
    font-weight: 100;
    font-size: 14px;
}

.basics-title {
    font-size: 4rem;
    font-weight: 300;
}

.basics-subtitle {
    font-size: 1.2rem;
}

.grey {
    color: #a1a1a1;
}

.m-size {
    font-size: 14px;
}

.l-size {
    font-size: 16px;
}

.question-icon {
    font-size: 1.4rem;
    color: #DFE1E7;
}

.black {
    color: black;
}

.basics-text {
    color: #4D4D4D;
    max-width: 65%;
}

.bold {
    font-weight: 700;
}

.question-header {
    padding: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.question-header:hover {
    color: #0093dd;
}

.question-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.text-result {
    padding: 2rem 3rem;
    font-size: 1.65rem;
    color: #0093DD;
    font-weight: 700;
}

.inner-text {
    padding: 1rem;
    background: url('../images/quotes.png') no-repeat left top;
}

.strategy {
    margin: 4rem 0 0 0;
    background: #f0f4f6;
}

.strategy-img {
    width: 100%;
}

.strategy-container {
    background: url('../images/sem-bg.png') no-repeat center left;
    justify-content: flex-end;
}

.strategy-points {
    display: flex;
}

.strategy-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 0;
}

.strategy-text {
    font-weight: 700;
    line-height: 1.4;
}

.strategy-point {
    width: 100%;
    background-color: #e4322b;
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
    color: white;
}

.strategy-point-content {
    color: #3F3F3F;
    font-size: 14px;
}

.strategy-content {
    max-width: 38rem;
    padding: 5rem 0;
}

.advantages {
    margin: 4rem 0 0 0;
}

.center-title {
    text-align: center;
    font-weight: 500;
    font-size: 2.8rem;
}

.img-svg {
    height: 100px;
    width: 100px;
}

.advantages-menu {
    margin-top: 4rem;
    display: flex;
}

.advantages-item {
    margin: 0.5rem 1rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DCDEE3;
    flex: 1;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage-paragraphs {
    margin-top: 1.5rem;
}

.advantages-paragraph {
    color: #4C4F56;
    padding: 0.5rem 0;
    display: flex;
    font-size: 0.9rem;
    align-items: flex-start;
}

.img-icon {
    padding: 0 0.5rem 0 0;
}

.differences {
    margin-top: 4rem;
}

.differences-container {
    display: flex;
}

.differences-title {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 5rem 0 0;
    max-width: 22rem;
    line-height: 1.3;
}

.differences-paragraph {
    color: #4C4F56;
    font-size: 0.95rem;
}

.differences-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.differences-button {
    padding: 0.75rem 1.75rem;
    background: #84d40a;
    border: none;
    border-radius: 5%;
    font-weight: 700;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px 4px;
    margin: 1.5rem 0;
}

.differences-button:hover {
    background: #64a009;
}

.differences {
    margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
    .differences-button {
        /* margin: 2rem 0 0 5rem; */
    }
}

@media screen and (max-width: 1365px) {
    .advantages-menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages-item {
        width: 100%;
    }
}

@media screen and (max-width: 1210px) {
    .strategy-point-content {
        font-weight: 700;
    }
}

@media screen and (max-width: 1148px) {
    .basics-container {
        flex-direction: column;
    }
    .basics-text {
        max-width: 100%;
    }
    .basics-questions {
        max-width: 100%;
    }
    .strategy-container {
        justify-content: center;
        background: none;
    }
}

@media screen and (max-width: 700px) {
    .differences-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 530px) {
    .strategy-points {
        flex-direction: column;
    }
    .basics-questions {
        padding: 0;
    }
    .question-header {
        padding: 0.5rem;
    }
    .question-answer {
        padding: 0.5rem;
    }
    .container {
        padding: 0 5%;
    }
    .text-result, .inner-text {
        padding: 0;
    }
    .question-menu {
        margin: 0;
    }
}

/* //////// */

.fixed_line {
    left: 0;
    position: fixed;
    top: 0;
}

.shadow_form {
    background: rgba(49, 52, 60, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.content_form {
    left: 0;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.content_form {
    left: 0;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.content_form .form_vn {
    background: #fff none repeat scroll 0 0;
    padding: 50px 52px;
    max-width: 380px;
    z-index: 101;
    margin: 0 auto;
    position: relative;
}

.content_form .form_vn .inp.name_service {
    display: none;
}

.close {
    background: transparent url("../images/i_close.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 17px;
}

.shadow_form {
    background: rgba(49, 52, 60, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.contact_page .whrite_block {
    background: rgba(49, 52, 60, 0.8) none repeat scroll 0 0;
    display: table;
    height: 392px;
    padding-left: 100px;
    width: 100%;
}

.contact_page .whrite_block .fon_form {
    float: left;
    max-width: 386px;
}

.contact_page .whrite_block .fon_form .title_block {
    font: 500 24px GothamPro;
    margin-bottom: 34px;
    text-align: center;
}

.inp, .inp input {
    border: none;
}

.inp input {
    padding: 1rem 0;
    display: block;
    font: 14px GothamPro;
    padding: 1rem -5rem;
    width: 100%;
    border-bottom: 1px solid #d1d3d4 !important;
    color: #5e616b !important;
}

.fon_form .button {
    margin: 2rem 0 0 0;
}

form .title {
    margin: 2rem 0;
}